.main-header{
    height: $header-height;
    padding: $header-nav-height 0 0;
    text-align: center;
    color: $white;

    &__title{
        margin: 0 0 $default-spacing/8;
        font-size: $h1-font-size;
        color: inherit;
    }

    &__byline{
        opacity: 0.8;
        margin-bottom: $default-spacing;
    }
}

.header-nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-nav-height;
    padding: $default-spacing/4 $default-spacing/2 0;
    text-align: left;
    justify-content: space-between;

    &__button{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        color: $white;
        border: 0;
        font-size: $icon-size;
        line-height: 1em;
        cursor: pointer;
        background: transparent;
        outline: none;

        &:nth-child(1){
            .icon{
                float: left;
            }
        }

        .icon{
            float: right;
        }

        &:focus{
            outline: none;
        }
    }
}